@import '../node_modules/bootstrap/dist/css/bootstrap.css';

.pacifico {
  font-family: 'Pacifico', cursive;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.modal-header{
  border-bottom: 0;
}
.modal-footer{
  border-top: 0;
}